{% extends '@ibexadesign/content/form_fields.html.twig' %}

{% block ibexa_fieldtype_ngremotemedia_widget %}
    <div class="remote-media-form">
        {{- form_row(form.remote_media) -}}
    </div>
{% endblock %}
