$base-font-size: 16px;

@function div($number1, $number2) {
    @return $number1 / $number2;
}

@function calculateRem($size) {
    $remSize: div($size, $base-font-size);

    @return $remSize + 0rem; // + 0rem converts value to proper `rem`
}

.ibexa-field-edit--ngremotemedia {
    .ngremotemedia-container {
        padding-top: calculateRem(24px);

        .ngremotemedia-image {
            .image-meta {
                p {
                    color: #71767c;
                    display: flex;
                    font-size: .75rem;
                    line-height: 1.125rem;
                    margin-top: 0.5rem;
                }
            }
        }

        span.help-block {
            color: #71767c;
            font-size: .75rem;
            line-height: 1.125rem;
            margin-bottom: 0.5rem;
            margin-top: 1.25rem;
            padding-bottom: 0;
            padding-top: 0;
        }

        input[type=text].media-alttext, input[type=text].media-caption {
            border: 0.0625rem solid #cfd1d3;
            border-radius: 0.625rem;
            color: #131c26;
            font-size: .875rem;
            line-height: 1.3125rem;
            position: relative;
            height: 3rem;
            padding-right: 2.25rem;
        }

        .ngremotemedia-tags {
            .vs__dropdown-toggle {
                border: 0.0625rem solid #cfd1d3;
                border-radius: 0.625rem;
                color: #131c26;
                font-size: .875rem;
                line-height: 1.3125rem;
                position: relative;
                height: 3rem;
                padding-right: 0.5rem;
            }

            .vs__selected {
                margin: 4px 2px 4px 2px;
            }
        }

        .ngremotemedia-buttons {
            input[type=button], button[type=button].ngremotemedia-local-file {
                color: #ae1164;
                fill: #ae1164;
                background-color: transparent;
                border: 0.0625rem solid #ae1164;
                border-radius: 0.625rem;
                display: inline-flex;
                font-size: .875rem;
                line-height: 1.125rem;
                outline: none;
                padding: 0.875rem 0.9375rem;
                text-decoration: none;
                transition: all .4s cubic-bezier(.25,.8,.25,1);
                white-space: nowrap;
                font-weight: normal;
            }

            button[type=button].ngremotemedia-local-file {
                fill: #fff;
                background-image: linear-gradient(90deg,#db0032 0,#ae1164);
                border-width: 0;
                color: #fff;
                padding: 0.9375rem 1rem;
            }
        }
    }
}
